<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <nav class="nav-sign">
        <div>
            <p>WHEELZ</p>
        </div>
        <div>
            <ul class="nav-sign nav-li">
                <li>signup</li>
                <li>signin</li>
            </ul>
        </div>
        <div></div>
    </nav>
    <div class="hero">
        <div>
            <p>LOOKING FOR A CAR?</p>
            <p>GETTING IT AT WHEELZ</p>
        </div>
        <div class="hero hero-category">
            <p>LOOKING FOR A CAR?</p>
            <p>GETTING IT AT WHEELZ</p>
        </div>
    </div>
    </div>
    <!-- <h1>Working</h1>
    <% cars.forEach((car) => { %>
        <h2>name: <%= car.name %></h2>
        <h2>brand: <%= car.brand %></h2>
        <h2>price: N<%= car.price %></h2>
        <img src='<%= car.image_url %>' width='400'/>
    <% }) %> -->

</body>
</html>